# Time series
## cross-section: 
 某个时间点的数据
## panel\(面板)
 多个数据项在多个时间点界面构成的一个面板。panel

In [23]:
import numpy as np 
import pandas as pd 
# prices

In [ ]:
# python Std lib of date and time includes, datetime, time an calendar.

In [11]:
from datetime import datetime
now =datetime.now()
now
now.year , now.month, now.day

(2020, 10, 4)

In [12]:
now.year, now.month, now.day

(2020, 10, 4)

In [15]:
delta = datetime(2011,1,7) -datetime(2008,6,24,8,15)
delta

datetime.timedelta(days=926, seconds=56700)

In [21]:
delta.days

926

In [22]:
delta.seconds

56700

In [28]:
from datetime import timedelta
start = datetime(2011,1,7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [27]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

# 字符串和datetime相互转换

In [29]:
stamp = datetime(2011,1,3)
str(stamp)

'2011-01-03 00:00:00'

In [30]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [32]:
value = '2011-01-03'
datetime.strptime(value,'%Y-%m-%d')

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [ ]:
datestrs = ['7/6/2011','8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

#parser.parse

 datetime.Strptime 是通过已知格式进行日期解析的最佳方法，但每次都要编写格式定义，很麻烦。常见的日期格式可以用dateutil 第三方包中的 parser.parse

In [34]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [35]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

# 处理缺失值(None, 空字符串)

In [36]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [37]:
pd.isnull(idx)

array([False, False,  True])

# 时间序列基础

pandas 最基本的时间序列类型就是以时间戳(通常一python字符串或datatime对象表示)为索引的series

In [41]:
from datetime import datetime
from pandas import Series
dates = [datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]
ts = Series(np.random.randn(6),index=dates)
ts

2011-01-02   -1.034799
2011-01-05   -0.174347
2011-01-07   -0.777245
2011-01-08   -1.068196
2011-01-10   -1.309266
2011-01-12    0.702646
dtype: float64

In [43]:
type(ts)
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [45]:
ts[::2]

2011-01-02   -1.034799
2011-01-07   -0.777245
2011-01-10   -1.309266
dtype: float64

In [42]:
ts + ts[::2]

2011-01-02   -2.069598
2011-01-05         NaN
2011-01-07   -1.554490
2011-01-08         NaN
2011-01-10   -2.618532
2011-01-12         NaN
dtype: float64

In [48]:
ts.index.dtype
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

# series operation
## 索引
## 选取
## 子集构造

In [49]:
stamp = ts.index[2]
ts[stamp]

-0.7772448688676059

In [50]:
ts['1/10/2011']

-1.309265935468168

In [51]:
ts['20110110']

-1.309265935468168

In [52]:
longer_ts =Series(np.random.randn(1000),
        index = pd.date_range('1/1/2000',periods=1000))
longer_ts

2000-01-01    0.006676
2000-01-02   -0.802983
2000-01-03   -0.523848
2000-01-04    0.494694
2000-01-05    0.799992
2000-01-06    0.507520
2000-01-07    0.164783
2000-01-08    0.879887
2000-01-09   -0.033883
2000-01-10   -1.129043
2000-01-11    0.164304
2000-01-12   -0.812047
2000-01-13   -1.549517
2000-01-14    0.173945
2000-01-15    0.771053
2000-01-16   -0.097297
2000-01-17   -1.109570
2000-01-18   -0.095805
2000-01-19    1.106983
2000-01-20   -0.251418
2000-01-21   -0.853559
2000-01-22    0.360944
2000-01-23   -0.814275
2000-01-24   -0.742613
2000-01-25    0.906634
2000-01-26   -0.592690
2000-01-27    0.680213
2000-01-28   -0.898437
2000-01-29    1.017804
2000-01-30    0.681437
                ...
2002-08-28    0.314840
2002-08-29   -0.840584
2002-08-30   -0.397653
2002-08-31    0.743620
2002-09-01   -0.710794
2002-09-02    0.050213
2002-09-03    0.101828
2002-09-04    0.253245
2002-09-05   -0.977856
2002-09-06   -0.592771
2002-09-07    0.354885
2002-09-08    0.665309
2002-09-09    0.330504
2002-09-10   -1.267980
2002-09-11   -1.052471
2002-09-12   -1.381489
2002-09-13   -0.498960
2002-09-14    0.996524
2002-09-15    0.019843
2002-09-16   -0.502092
2002-09-17    0.207006
2002-09-18   -0.647581
2002-09-19    0.636864
2002-09-20    0.053512
2002-09-21   -1.806654
2002-09-22    0.077207
2002-09-23    0.918564
2002-09-24    0.739067
2002-09-25   -1.865379
2002-09-26   -0.691028
Freq: D, Length: 1000, dtype: float64

#通过日期进行切片的方式只对Series有效

In [53]:
longer_ts['2001']

2001-01-01   -0.773005
2001-01-02   -0.530420
2001-01-03    0.435352
2001-01-04    0.375991
2001-01-05    0.370774
2001-01-06    0.404213
2001-01-07   -2.270026
2001-01-08   -0.175019
2001-01-09   -0.017038
2001-01-10    0.637493
2001-01-11    0.053254
2001-01-12   -2.998082
2001-01-13    0.614295
2001-01-14   -0.284521
2001-01-15   -0.742941
2001-01-16    1.072706
2001-01-17    1.056702
2001-01-18    0.875386
2001-01-19    1.616360
2001-01-20   -1.319117
2001-01-21    0.690881
2001-01-22    0.908516
2001-01-23   -0.855132
2001-01-24    2.374253
2001-01-25   -0.223169
2001-01-26    1.492595
2001-01-27    1.232023
2001-01-28    0.126258
2001-01-29    0.269012
2001-01-30   -0.677871
                ...
2001-12-02   -0.203375
2001-12-03   -0.937027
2001-12-04    1.302603
2001-12-05    0.001406
2001-12-06    0.590517
2001-12-07    0.970053
2001-12-08   -0.145453
2001-12-09    1.018818
2001-12-10    1.131762
2001-12-11    0.171499
2001-12-12   -0.564270
2001-12-13    0.301926
2001-12-14   -1.612584
2001-12-15   -0.491226
2001-12-16   -0.568740
2001-12-17    1.218990
2001-12-18    0.328368
2001-12-19   -1.139161
2001-12-20    0.770745
2001-12-21    2.754798
2001-12-22    0.026578
2001-12-23    2.533802
2001-12-24   -0.223180
2001-12-25   -2.029252
2001-12-26   -0.468142
2001-12-27   -0.579857
2001-12-28    0.637229
2001-12-29    0.778276
2001-12-30    0.426158
2001-12-31    2.053402
Freq: D, Length: 365, dtype: float64

In [54]:
ts[datetime(2011,1,7):]

2011-01-07   -0.777245
2011-01-08   -1.068196
2011-01-10   -1.309266
2011-01-12    0.702646
dtype: float64

In [55]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.777245
2011-01-08   -1.068196
2011-01-10   -1.309266
dtype: float64

## 对Series的操作对DataFrame也有效

In [59]:
from pandas import DataFrame
dates = pd.date_range('1/1/2000',periods=100,freq='W-WED')
long_df = DataFrame(np.random.randn(100,4),index=dates,columns=['Colorado','Texas','New York','Ohio'])
long_df.ix['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.405972 -0.391432  0.905204 -0.317189
2001-05-09 -0.598313  0.831846 -0.288473 -0.263525
2001-05-16 -0.219882  1.281259 -1.311883 -1.325860
2001-05-23 -0.814612  0.202593  0.136648  0.434776
2001-05-30  1.649286  0.408544 -0.588518  0.322627

## 时间点是否重复

In [60]:
long_df.index.is_unique

True

# 日期的范围，频率，移动 #
## pandas 有一整套标准时间序列频率以及用于重采样，频率推断，生成固定频率日期范围的工具

In [65]:
ts
ts.resample('D')

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [67]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [68]:
four_hours =Hour(4)
four_hours

In [69]:
pd.date_range('1/1/2000','1/3/2000 23:59',
        freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

# WOM 日期

In [70]:
rng = pd.date_range('1/1/2012','9/1/2012', freq = 'WOM-3FRI')
rng

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

# 移动（超前 和 滞后） 数据

In [77]:
ts = Series(np.random.randn(4),index = pd.date_range('1/1/2000',periods=4,freq='M'))
ts
ts.shift(2) 
ts.shift(-2)
print(ts,ts.shift(2),ts.shift(-2))

2000-01-31   -0.530028
2000-02-29   -0.058283
2000-03-31    0.781311
2000-04-30    0.839480
Freq: M, dtype: float64 2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.530028
2000-04-30   -0.058283
Freq: M, dtype: float64 2000-01-31    0.781311
2000-02-29    0.839480
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [78]:
ts/ts.shift(1) -1

2000-01-31          NaN
2000-02-29    -0.890037
2000-03-31   -14.405366
2000-04-30     0.074451
Freq: M, dtype: float64

In [79]:
# 只移动时间戳，不对数据移动
ts.shift(2,freq='M')

2000-03-31   -0.530028
2000-04-30   -0.058283
2000-05-31    0.781311
2000-06-30    0.839480
Freq: M, dtype: float64

# 通过偏移量对日期进行位移

In [87]:
from pandas.tseries.offsets import Day, MonthEnd

#groupby

In [88]:
longer_ts =Series(np.random.randn(20),
        index = pd.date_range('1/15/2000',periods=20,freq = '4d'))
offset =MonthEnd()
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.530028
2000-02-29   -0.058283
2000-03-31    0.781311
2000-04-30    0.839480
dtype: float64

## resample

In [84]:

longer_ts.resample('M',how='mean')

2000-01-31    0.84883
2000-02-29    0.19999
2000-03-31    0.98677
Freq: M, dtype: float64

# 时区处理

In [89]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

默认情况下，pandas中的时间序列是单纯的时区。时区字段为None

In [90]:
print(longer_ts.index.tz)

None

生成日期范围时可以加上时区集

In [91]:
pd.date_range('3/9/2012 9:30',periods =10, freq='D',tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

默认的单纯序列可以本地化加时区

In [92]:
ts_utc= longer_ts.tz_localize('UTC')
print(ts_utc.head(5),ts_utc.index)

2000-01-15 00:00:00+00:00    0.697989
2000-01-19 00:00:00+00:00    2.420390
2000-01-23 00:00:00+00:00    0.088986
2000-01-27 00:00:00+00:00    0.258478
2000-01-31 00:00:00+00:00    0.376049
Freq: 4D, dtype: float64 DatetimeIndex(['2000-01-15 00:00:00+00:00', '2000-01-19 00:00:00+00:00',
               '2000-01-23 00:00:00+00:00', '2000-01-27 00:00:00+00:00',
               '2000-01-31 00:00:00+00:00', '2000-02-04 00:00:00+00:00',
               '2000-02-08 00:00:00+00:00', '2000-02-12 00:00:00+00:00',
               '2000-02-16 00:00:00+00:00', '2000-02-20 00:00:00+00:00',
               '2000-02-24 00:00:00+00:00', '2000-02-28 00:00:00+00:00',
               '2000-03-03 00:00:00+00:00', '2000-03-07 00:00:00+00:00',
               '2000-03-11 00:00:00+00:00', '2000-03-15 00:00:00+00:00',
               '2000-03-19 00:00:00+00:00', '2000-03-23 00:00:00+00:00',
               '2000-03-27 00:00:00+00:00', '2000-03-31 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='4D')

## 转换到别的时区

In [93]:
ts_utc.tz_convert('US/Eastern')

2000-01-14 19:00:00-05:00    0.697989
2000-01-18 19:00:00-05:00    2.420390
2000-01-22 19:00:00-05:00    0.088986
2000-01-26 19:00:00-05:00    0.258478
2000-01-30 19:00:00-05:00    0.376049
2000-02-03 19:00:00-05:00    1.499308
2000-02-07 19:00:00-05:00    1.040684
2000-02-11 19:00:00-05:00   -0.849078
2000-02-15 19:00:00-05:00   -0.750757
2000-02-19 19:00:00-05:00    1.258315
2000-02-23 19:00:00-05:00   -0.772719
2000-02-27 19:00:00-05:00    0.111656
2000-03-02 19:00:00-05:00   -1.865491
2000-03-06 19:00:00-05:00   -0.532028
2000-03-10 19:00:00-05:00    0.433285
2000-03-14 19:00:00-05:00    0.523924
2000-03-18 19:00:00-05:00    0.680625
2000-03-22 19:00:00-05:00   -0.873737
2000-03-26 19:00:00-05:00    0.463285
2000-03-30 19:00:00-05:00   -1.096731
Freq: 4D, dtype: float64

# 时间及其算术运算

In [94]:
p=pd.Period(2007,freq='A-DEC')
p

Period('2007', 'A-DEC')

In [95]:
# 加5年
p + 5

Period('2012', 'A-DEC')

In [97]:
# 减2年
p - 2

Period('2005', 'A-DEC')

* 如果两个period对象拥有相同的频率，则他们的差就是它们之间的单位数量

In [98]:
pd.Period('2014',freq='A-DEC') - p

## Period_range函数可用于创建规则的时期范围

In [99]:
rng  = pd.period_range('1/1/2000','6/30/2000',freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

## PeriodIndex类保存了一组Period,它可以在任何pandas数据结构中被用作轴索引

In [100]:
Series(np.random.randn(6),index=rng)

2000-01    1.522387
2000-02   -1.350217
2000-03   -0.950691
2000-04    0.072384
2000-05    0.082178
2000-06    1.254562
Freq: M, dtype: float64

## 使用字符串构造period 函数

In [102]:
values = ['2001Q3','2002Q2','2003Q1']
index = pd.PeriodIndex(values,freq='Q-DEC')
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

# 时间的频率转换

In [103]:
p = pd.Period('2007',freq='A-DEC')
p.asfreq('M',how='start')

Period('2007-01', 'M')

In [104]:
p = pd.Period('2007',freq='A-JUN')
p.asfreq('M','start')

Period('2006-07', 'M')

In [105]:
p.asfreq('M','end')

Period('2007-06', 'M')

In [ ]:
# 重采样 及 频率转换
## 重采样： 时间序列从一个频率转换到另一个频率的处理。

In [108]:
rng = pd.date_range('1/1/2000',periods = 100,freq='D')
ts = Series(np.random.randn(len(rng)),index=rng)
ts.resample('M',how='mean')

2000-01-31   -0.094934
2000-02-29    0.014446
2000-03-31   -0.132855
2000-04-30   -0.419081
Freq: M, dtype: float64

In [109]:
ts.resample('M',how='mean',kind='period')

2000-01   -0.094934
2000-02    0.014446
2000-03   -0.132855
2000-04   -0.419081
Freq: M, dtype: float64

## 降采样
将数据聚合到规整的低频率，

In [110]:
# 1 min data
rng = pd.date_range('1/1/2000',periods=12,freq='T')
ts = Series(np.arange(12),index=rng)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

In [111]:
#聚合到"5分钟"
ts.resample('5min',how='sum')

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int32

In [112]:
## OHLC 重采样
ts.resample('5min',how='ohlc')

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

# 通过groupby 进行重采样

In [113]:
rng = pd.date_range('1/1/2000',periods=100,freq='D')
ts = Series(np.arange(100),index=rng)
ts.groupby(lambda x: x.month).mean()

1    15
2    45
3    75
4    95
dtype: int32

In [114]:
ts.groupby(lambda x: x.weekday).mean()

0    47.5
1    48.5
2    49.5
3    50.5
4    51.5
5    49.0
6    50.0
dtype: float64

# 不同频率的时间序列的运算
## align
price.align(volume, join='inner')
## resample to business day
ts.reample('B')
ts.reample('B',fill_method='ffill')